.router-container {
    /*Fondo en App.jsx*/
    background: linear-gradient(90deg, #640fa7, #f37148);
}

.boot-card {
    /*Tarjetas en Landing.jsx*/
    transition: transform 0.3s ease;
    border-radius: 25px;
    background-color: #F1F2F2;
}
.boot-card:hover {
    /*Tarjetas en Landing.jsx*/
    transform: scale(1.01);
    transition: transform 0.3s ease;
}

.bootcampContainer {
    background-color: #640fa7;
}

/*Footer*/
/* Estilos para el botón flotante */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
    width: 50px;
    height: 50px;
  }
  
  .scroll-to-top:hover {
    background-color: #0056b3;
  }
  
  .scroll-to-top:focus {
    outline: none;
  }
  
  /* Personalización del footer */
  footer {
    background-color: #343a40;
    color: white;
  }
  
  footer h5 {
    font-size: 18px;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer p {
    margin: 0;
  }
  